.footer {
  height: 145px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  font-size: 14px;
  color: #5a5a5a;
}

.contact h4,
.social h4 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.contact p {
  margin: 5px 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: 16px;
}

.icon {
  color: inherit; /* 부모 색상 상속 */
  text-decoration: none;
  font-size: 22px;
  margin-right: 7px;
  transition: color 0.3s;
}

.icon:hover {
  color: #007bff; /* hover 시 색상 변경 (원하는 색으로 조정) */
}
