.footer {
  height: 130px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  font-size: 14px;
  color: #5a5a5a;
}

.contact h4,
.social h4 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.contact p {
  margin: 2px 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icons {
  display: flex;
  gap: 16px;
  margin-top: 4px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0070f3;
}
